* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Epilogue', sans-serif;
    background: hsl(0, 0%, 98%);
}
  
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0px;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}