.calculator-content {
  max-width: 400px;
  margin-top: 100px;
}

.calculator-title.theme1 {
  color: hsl(0deg, 0%, 100%);
}

.calculator-title.theme2 {
  color: hsl(60deg, 10%, 19%);
}

.calculator-title.theme3 {
  color: hsl(52deg, 100%, 62%);
}

.calculator-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator-title.calculator-title h3 {
  font-size: 1.5rem;
}

.calculator-theme.theme1 {
  color: hsl(0deg, 0%, 100%);
}

.calculator-theme.theme2 {
  color: hsl(60deg, 10%, 19%);
}

.calculator-theme.theme3 {
  color: hsl(52deg, 100%, 62%);
}

.calculator-theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.calculator-theme.calculator-theme h4 {
  font-size: 0.7rem;
}

.calculator-theme-box.theme1 {
  background: hsl(223deg, 31%, 20%);
}
.calculator-theme-box.theme1::before {
  background: hsl(6deg, 63%, 50%);
}

.calculator-theme-box.theme2 {
  background: hsl(0deg, 5%, 81%);
}
.calculator-theme-box.theme2::before {
  background: hsl(25deg, 98%, 40%);
}

.calculator-theme-box.theme3 {
  background: hsl(268deg, 71%, 12%);
}
.calculator-theme-box.theme3::before {
  background: hsl(176deg, 100%, 44%);
}

.calculator-theme-box {
  width: 48px;
  height: 18px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.calculator-theme-box::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  top: 4px;
  left: 4px;
}

.calculator-theme-box.theme1:before {
  -webkit-animation: moverTheme1 0.3s linear forwards;
          animation: moverTheme1 0.3s linear forwards;
}

.calculator-theme-box.theme2:before {
  -webkit-animation: moverTheme2 0.3s linear forwards;
          animation: moverTheme2 0.3s linear forwards;
}

.calculator-theme-box.theme3:before {
  -webkit-animation: moverTheme3 0.3s linear forwards;
          animation: moverTheme3 0.3s linear forwards;
}

@-webkit-keyframes moverTheme1 {
  from {
    left: 32px;
  }
  50% {
    left: 18px;
  }
  100% {
    left: 4px;
  }
}

@keyframes moverTheme1 {
  from {
    left: 32px;
  }
  50% {
    left: 18px;
  }
  100% {
    left: 4px;
  }
}
@-webkit-keyframes moverTheme2 {
  from {
    left: 4px;
  }
  50% {
    left: 12px;
  }
  100% {
    left: 18px;
  }
}
@keyframes moverTheme2 {
  from {
    left: 4px;
  }
  50% {
    left: 12px;
  }
  100% {
    left: 18px;
  }
}
@-webkit-keyframes moverTheme3 {
  from {
    left: 18px;
  }
  to {
    left: 32px;
  }
}
@keyframes moverTheme3 {
  from {
    left: 18px;
  }
  to {
    left: 32px;
  }
}
.calculator-box-result.theme1 {
  background: hsl(224deg, 36%, 15%);
}
.calculator-box-result.theme1.calculator-box-result.theme1 h1 {
  color: hsl(0deg, 0%, 100%);
}

.calculator-box-result.theme2 {
  background: hsl(0deg, 5%, 81%);
}
.calculator-box-result.theme2.calculator-box-result.theme2 h1 {
  color: hsl(60deg, 10%, 19%);
}

.calculator-box-result.theme3 {
  background: hsl(268deg, 71%, 12%);
}
.calculator-box-result.theme3.calculator-box-result.theme3 h1 {
  color: hsl(52deg, 100%, 62%);
}

.calculator-box-result {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 30px 20px;
  text-align: right;
}
.calculator-box-result.calculator-box-result h1 {
  font-size: 2.5rem;
}

.calculator-box-numbers {
  border-radius: 8px;
  padding: 20px;
  display: grid;
  align-items: center;
  place-content: center;
  grid-template-columns: repeat(4, 80px);
  justify-content: space-between;
  gap: 16px;
}

.calculator-box-numbers.theme1 {
  background: hsl(223deg, 31%, 20%);
}
.calculator-box-numbers.theme1 .del-button, .calculator-box-numbers.theme1 .reset-button {
  color: hsl(0deg, 0%, 100%);
  background: hsl(225deg, 21%, 49%);
  box-shadow: 0px 2px 0 hsl(224deg, 28%, 35%);
}
.calculator-box-numbers.theme1 .result-button {
  background: hsl(6deg, 63%, 50%);
  box-shadow: 0px 2px 0 hsl(6deg, 70%, 34%);
  color: hsl(0deg, 0%, 100%);
}
.calculator-box-numbers.theme1 .result-button:hover {
  background: hsl(6deg, 72%, 63%);
}
.calculator-box-numbers.theme1 .del-button:hover, .calculator-box-numbers.theme1 .reset-button:hover {
  background: hsl(224deg, 25%, 64%);
}

.calculator-box-numbers.theme2 {
  background: hsl(0deg, 5%, 81%);
}
.calculator-box-numbers.theme2 .button {
  color: hsl(60deg, 10%, 19%);
  background: hsl(45deg, 7%, 89%);
  box-shadow: 0px 2px 0 hsl(35deg, 11%, 61%);
}
.calculator-box-numbers.theme2 .button:hover {
  background: hsl(0deg, 0%, 100%);
}
.calculator-box-numbers.theme2 .del-button, .calculator-box-numbers.theme2 .reset-button {
  background: hsl(185deg, 42%, 37%);
  box-shadow: 0px 2px 0 hsl(185deg, 58%, 25%);
  color: hsl(45deg, 7%, 89%);
}
.calculator-box-numbers.theme2 .del-button:hover, .calculator-box-numbers.theme2 .reset-button:hover {
  background: rgb(176, 186, 215);
}
.calculator-box-numbers.theme2 .result-button {
  background: hsl(25deg, 98%, 40%);
  box-shadow: 0px 2px 0 hsl(25deg, 99%, 27%);
  color: hsl(45deg, 7%, 89%);
}
.calculator-box-numbers.theme2 .result-button:hover {
  background: hsl(25deg, 62%, 62%);
}

.calculator-box-numbers.theme3 {
  background: hsl(268deg, 71%, 12%);
}
.calculator-box-numbers.theme3 .button {
  color: hsl(52deg, 100%, 62%);
  background: hsl(268deg, 47%, 21%);
  box-shadow: 0px 2px 0 hsl(290deg, 70%, 36%);
}
.calculator-box-numbers.theme3 .button:hover {
  background: hsl(281deg, 89%, 26%);
}
.calculator-box-numbers.theme3 .del-button, .calculator-box-numbers.theme3 .reset-button {
  background: hsl(281deg, 89%, 26%);
  box-shadow: 0px 2px 0 hsl(285deg, 91%, 52%);
  color: hsl(45deg, 7%, 89%);
}
.calculator-box-numbers.theme3 .del-button:hover, .calculator-box-numbers.theme3 .reset-button:hover {
  background: hsl(290deg, 70%, 36%);
}
.calculator-box-numbers.theme3 .result-button {
  background: hsl(176deg, 100%, 44%);
  box-shadow: 0px 2px 0 hsl(177deg, 92%, 70%);
  color: hsl(198deg, 20%, 13%);
}
.calculator-box-numbers.theme3 .result-button:hover {
  background: hsl(177deg, 92%, 70%);
}

.reset-button {
  grid-column: 1/3;
}

.result-button {
  grid-column: 3/-1;
}/*# sourceMappingURL=calculator.css.map */