* {
    font-family: Helvetica;
}

body {
    padding: 15px;
}

.hide {
    display: none;
}

a, input[type="submit"] {
    background: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    opacity: .7;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

a:hover, input[type="submit"]:hover {
    opacity: 1;
}

form {
    width: 300px;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

form label {
    font-weight: bold;
    margin-bottom: .3rem;
}

form input,
form textarea {
    padding: 5px;
}
