.footer-content {
    background: #88CEC1;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .footer-links {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        color: var(--darkDesaturatedCyan);
        font-size: 1.2rem;
        margin-bottom: 5rem;
        margin-top: 2rem;
        & a:hover {
            color: var(--white);
            transition: 0.3s;
        }
    }
    .footer-redes {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        & svg {
            cursor: pointer;
        }
        & svg:hover path  {
            fill: var(--white);
            transition: 0.3s;
        }
    }
}