body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  ul,
  p {
    margin: 0px;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  * {
    box-sizing: border-box;
  }

.attribution { 
  font-size: 11px; 
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}