.barlow-sb {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.fraunces-b {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.fraunces-bl {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}