/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;   
}

body {
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-color: #fdfdfd;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.confirm-todo:hover, .finish-todo:hover {
    background-color: #00fd00;
    color: #ffffff;
    transition: 0.4s;
}

.edit-todo:hover, .editar-todo:hover, #erase-button:hover {
    background-color: #102F5e;
    color: #ffffff;
    transition: 0.4s;
}

.remove-todo:hover {
    background-color: #ff0000;
    color: #ffffff;
    transition: 0.4s;
}

button:hover > i {
    color: #ffffff;
}

button i {
    color: #102F5e;
    font-weight: bold;
    pointer-events: none;
}

input,select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* To do header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* To do Formulario */

#todo-input, #edit-input {
    width: 100%;
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* To do toolbar */

.toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* To do list */

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #ffffff;
    text-decoration: line-through;
    font-style: italic;
}