.poppins-600 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.opens-sans-400 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.opens-sans-700 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}